#output{
	padding: 5px;
	font-size: 12px;
}
#output img {
	width:100%;
	border: 1px solid #DDD;
	padding: 0px;
}

/* progress bar style */
#progressbox {
	border: 1px solid #92C8DA;
	padding: 1px; 
	position:relative;
	width:100%;
	border-radius: 3px;
	margin: 0px;
	display:none;
	text-align:left;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #77E0FA;
	width:1%;
}
#statustxt {
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #000000;
}